.node {
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle
    line-height: 40px;
    display block
    margin:0 auto
}


.tree
    text-align: center

.node-container
    display block;
